
@font-face {
  font-family: droidBold;
  src: url(../fonts/Droid.Arabic.Kufi_.Bold_DownloadSoftware.iR_.ttf);
}
@font-face {
  font-family: droidRegular;
  src: url(../fonts/DroidKufi-Regular\ \(1\).ttf);
}
body{
  font-family: droidRegular;
}
.slides .carousel-indicators{
  bottom: 5%;
}
.slides  .overlay{
    background: transparent linear-gradient(114deg, #22216D 0%, #15AC8B33 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    z-index: 2;
}
.slides{
  width: 100%;
  /* height: 697px; */
  position: relative;
  margin-bottom: 50px;
  clip-path: ellipse(118% 100% at center top);
}
.slides .carousel-control-next,  .carousel-control-prev{
  z-index: 5;
}
.slides .main-slide{
  top: 232px;
  left: 363px;
  width: 70%;
  height: 289px;
  z-index: 3;
  position: sticky;
  margin-bottom: 30%;
}
@media only screen and (max-width: 1204px) {
  .slides .main-slide .h2{
    font-size: 25px !important;
  }
  .slides .main-slide p {
    font-size: 15px;
    }
  .slides .main-slide{
      margin-bottom: 12%;
  }
}
@media only screen and (max-width: 972px) {
    .slides .main-slide .h2{
        font-size: 23px !important;
      }
      .slides .main-slide p {
        font-size: 13px;
        }
      .slides .main-slide{
          margin-bottom: 8%;
      }
}
@media only screen and (max-width: 972px) {
    .slides .main-slide .h2{
        font-size: 20px !important;
      }
      .slides .main-slide p {
        font-size: 11px;
        }
    .slides .main-slide{
        margin-bottom: 4%;
    }
}
@media only screen and (max-width: 862px) {
    .slides .main-slide{
        margin-bottom: 2%;
    }
}
@media only screen and (max-width: 840px) {
    .slides .main-slide{
        margin-bottom: 1%;
    }
}
@media only screen and (max-width: 822px) {
    .slides .main-slide{
        margin-bottom: 0%;
    }
}
.img-car{
    width: 100%;
    height: 100%;
}
.slides .main-slide .h2{
  font-size: 30px;
  font-family:droidRegular ;
  font-weight: bold;
}
.slides .main-slide p {
  font-size: 20px;
  line-height: 2;
  font-family: droidRegular;
}
.slides .main-slide .register{
  width: 170px;
  height: 45px;
  border: 1px solid #6D6D6D;
  border-radius: 23px;
  background-color: #fff;
  color: #6D6D6D;
  font-size: 15px;
  margin-top: 30px;
}
.slides .mask-top{
  position: absolute;
  z-index: 10;
  top: 0px;
left: 0px;
width: 100%;
height: 218px;
background-image: url('../images/Mask\ Group\ 2.png') ;
background-repeat: no-repeat;
background-size: cover;
}
.slides .nav-list{
  z-index: 5;
}
.slides .nav-list .list-inline-item{
  margin-top: 10px;
    padding-right: 3px;
}
.slides .nav-list .en{
  color:  #081D4D;
  font-size: 10px;
  font: normal normal bold 10px/2px Droid Arabic Kufi;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.nav-list .nav-right{
  margin-top: 10px;
  text-align: right;
}
.nav-list .nav-right span{
  font-size: 13px;
  color: #fff;
}
.nav1 .col-9 li {
  color: #fff;
}
.nav1 .col-9 .list-inline-item{
  margin-right: 20px;
}
.mask-top hr{
  width: 100%;
  color: #fff;
  margin-top: 5px;
  height: 2px;
}
/* .subtraction{
  background-image: url('../images/Subtraction\ 11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 627px;
left: 0px;
width: 100%;
height: 71px;
z-index: 5;
} */
.carousel{
  height: 100%;
}
.carousel-indicators button{
  width: 18px;
height: 18px;
background-color: #fff;
border-radius: 50%;
z-index: 7;
width: 18px !important;
    height: 18px !important;
}
.slides .carousel-indicators .active{
  background-color: #15AC8B !important;
}
.carousel-indicators .gren{
  
  margin: -7px 10px 0 10px;
}
.nav2 li{
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  z-index: 10;
}
.nav2 .main {
  border-bottom: 4px solid #FFFFFF;
    width: 18px;
    border-radius: 4px;
    margin-left: 18px;
    margin-top: 4px;
}
.nav2 .col-9 li{
  margin-left: 40px;
  font-size: 15px;
  cursor: pointer;
  color: #ddd;
}
.wats-ico{
  bottom: 40px;
    position: fixed;
    right: 85px;
    z-index: 50;
} 
/* end slides */

/* start we here */
.we-here {
  margin-bottom: 50px;
}
@media only screen and (max-width: 992px) {
    .we-here .img-path{
        display: none;
    }
    .we-here .numbers{
        display: none;
    }
}
.we-here .h3{
  font-size: 25px;
  color: #15AC8B;
}
.we-here .aim{
  color: #C4C4C4;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 70px;
}
.we-here .best-trainer{
  padding-top: 5px;
  width: 135px;
height: 135px;
transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
background: #F7F9FB 0% 0% no-repeat padding-box;
position: relative;
}
.we-here .studing{
  transform: rotate(-47deg);
  -moz-transform: rotate(-47deg);
  -ms-transform: rotate(-47deg);
  -o-transform: rotate(-47deg);
  margin-left: -34px;
    margin-top: 26px;
    position: absolute;
}
.we-here .path{
  width: 90%;
  margin-top: 60px;
}
.section-wehere {
  margin-top: -166px;
    z-index: 3;
    width: 100%;
    position: relative;
}
.section-wehere .col1{
  margin-top: 45px;
    margin-left: -28px !important;
}
.section-wehere .col2{
  margin-top: 41px;
    margin-left: 228px !important;
}
.section-wehere .col3{
  margin-left: 242px !important;
  margin-top: 40px;
}
.numbers span{
  margin-left: 46px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F7F9FB;
  color: #22216D;
  padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0;
}
.numbers .col1{
  margin-right: 154px;
}
.numbers .col1 span{
  background-color: #15AC8B;
  color: #fff;
  padding-right: 10px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0;
}
.numbers .sp1{
  margin-left: 15px;
}
.numbers .sp2{
  margin-left: 117px;
}
.numbers .sp3{
  margin-left: 38px;
}
.section-wehere .cont h5{
  margin-top: 105px;
  line-height: 1.7;
  font-size: 15px;
  color: #232323;
}
.section-wehere .cont p {
  color: #B1B1B1;
  font-size: 13px;
  line-height: 2;
  margin-top: 16px;
}
.section-wehere .col3 h5{
  color: #15AC8B;
}
/* end we here */

/* start cources */
.cources{
  clip-path: ellipse(145% 100% at center bottom);
  background-color: #F7F9FB;
  
  margin-bottom: 20px;
}
.cources h3{
  color: #15AC8B;
  font-size: 25px;
  padding-top: 50px;
  margin-bottom: 35px;
}
.cources p {
  color: #BBBBBB;
  width: 40%;
 line-height: 2;
  display: inline-block;
}
.cources ul {
  color: #6D6D6D;
  font-size: 20px;
}
.cources ul .active{
  color: #15AC8B;
}
.cources .cont-ins{
  position: absolute;
  z-index: 5;
}
.cardTop{
  background-image: url(../images/card-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:56%;
  width: 100%;
  border-radius: 13px;
  position: relative;
}
.cardTop .overlay{
  background-color: #000;
  opacity: .5;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 13px;
}
.cardTop .cont-body{
  z-index: 5;
  position: absolute;
}
.cont-body span{
  color: #fff;
  text-align: right;
}
.cont-body i {
  background: #fff;
    border-radius: 50%;
    padding: 4px;
}
.cardTop p {
  font-size: 12px;
    color: #fff;
    line-height: 1.9;
    z-index: 5;
    width: 80%;
    margin-left: 11%;
}
.cardTop .btn{
  width: 15%;
  padding: 1px 5px;
    color: #2F2E96;
    background-color: #fff;
    text-align: right;
    margin-left: 72%;
    padding: 4px;
    font-size: 11px;
    z-index: 5;
}
.card-bod{
  background-color: #F7F9FB;
    margin-top: -11%;
    border-radius: 26px;
    width: 94%;
    margin-left: 8px;
    z-index: 5;
    position: sticky;
}
.card-bod span{
  color: #2F2E96;
  font-size: 8px;

}
.card-foot{
  background-color: #fff;
  margin-top: -16px;
}
.card-foot p , .card-foot span{
  font-size: 12px;
  display: inline;
}
.course-btn{
  color: #6D6D6D;
  font-size: 15px;
  background-color: #fff;
  border: 1px solid #6D6D6D;
border-radius: 25px;
padding-right: 20px;
    padding-left: 20px;
}
/* end cources */

/* start trainers */

.trainers h3{
  color: #15AC8B;
  font-size: 25px;
  padding-top: 50px;
  margin-bottom: 35px;
}
.trainers p {
  color: #BBBBBB;
  width: 40%;
 line-height: 2;
  display: inline-block;
}
.trainers .swiper {
        width: 100%;
        height: 100%;
        padding: 50px;
      }

.trainers .swiper-slide {
    text-align: center;
    width: 285px !important;
    height: 250px !important;
    background-color: #F7F9FB;
    display: block !important;
    border-radius: 24px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.trainers .swiper-slide:hover {
        border: 2px solid #15AC8B;
}
.trainers .swiper-slide:hover h4{
        color: #15AC8B;
}
.trainers .swiper-slide img {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin: auto;
}
.trainers .swiper-slide h4{
        color: #081D4D;
        font-size: 15px;
}
.trainers .swiper-slide p {
        font-size: 12px;
        color: #707070;
}
.trainers .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        margin-right: 15px;
}
.trainers .swiper-pagination-bullet-active{
        background-color: #15AC8B;
        margin-top: 5px;
}
.trainers .btn{
    color: #6D6D6D;
    border: 1px solid #6D6D6D;
    border-radius: 25px;
    font-size: 15px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}
/* end trainers */

/* start blog */
.blog{
    clip-path: ellipse(95% 100% at center bottom);
    background-color: #F7F9FB;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
.blog h3{
    color: #15AC8B;
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 35px;
  }
  .blog p {
    color: #BBBBBB;
    width: 40%;
   line-height: 2;
    display: inline-block;
  }
  .blog .details{
      color: #fff;
      background-color: #22216D;
      border-radius: 30px;
      font-size: 15px;
      width: 50%;
      margin: auto;
  }
  .blog .swiper{
      width: 100%;
      height: 100%;
  }
  .blog .swiper-slide{
      margin-left: 20px !important;
  }
  .blog .swiper-pagination{
      margin-top: 20px !important;
  }
  .blog .swiper-pagination-bullet-active{
      background-color: #15AC8B;
  }
  .blog .swiper-slide:hover .details{
    background-color: #15AC8B;
}
/* end blog */

/* start Certificates */
.Certificates h3{
    color: #15AC8B;
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 35px;
  }
  .Certificates p {
    color: #BBBBBB;
    width: 40%;
   line-height: 2;
    display: inline-block;
  }
  .Certificates .row .col h5{
      font-size: 15px;
      color: #15AC8B;
      
  }
  .Certificates .row .col p{
      font-size: 12px;
      color: #707070;
      width: auto;
      
  }
  .Certificates .col img{
    position: relative;
}
  .Certificates .free{
    width: 31px;
    height: 31px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #0A775F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 3px solid #15AC8B;
    margin-left: -201px;
  }
  .Certificates .one{
    width: 31px;
    height: 31px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    background: #15AC8B 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #fff;
    border: 1px solid #15AC8B;
    z-index: 10;
    margin-top: 111px;
    margin-left: -102px;
  }
  .Certificates .one span{
    transform: rotate(-47deg);
    position: absolute;
    margin-left: -6px;
  }
  .Certificates .two{
    width: 31px;
    height: 31px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    background: #22216D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #fff;
    border: 1px solid #22216D;
    z-index: 10;
    margin-top: 88px;
    margin-left: -301px;
  }
  .Certificates .two span{
    transform: rotate(-47deg);
    position: absolute;
    margin-left: -6px;
  }
  .Certificates .three{
    width: 31px;
    height: 31px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: relative;
    background: #22216D 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    color: #fff;
    border: 1px solid #22216D;
    z-index: 10;
    margin-top: 88px;
    margin-left: -103px;
  }
  .Certificates .three span{
    transform: rotate(-47deg);
    position: absolute;
    margin-left: -6px;
  }
  .Certificates .free2{
    width: 31px;
    height: 31px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #0A775F 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    border: 3px solid #15AC8B;
    margin-left: -201px;
    margin-top: 150px;
  }
  .Certificates .div-one{
      margin-top: 100px;
  }
  .Certificates .div-two{
      margin-top: 220px;
  }
  .Certificates .div-three{
      margin-top: 123px;
  }
/* end Certificates */

/* start partners */
.partners h3{
    color: #15AC8B;
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 35px;
  }
  .partners p {
    color: #BBBBBB;
    width: 55%;
   line-height: 2;
    display: inline-block;
  }
  .partners .swiper-pagination-bullet-active{
      background-color: #15AC8B;
      margin-bottom: 10px !important;
  }
  .partners .swiper .swiper-pagination {
    margin-bottom: -14px !important;
}
.partners .part-slide{
    height: 500px;
    background-image: url(../images/image-3.png);
    background-size: cover;
    clip-path: ellipse(95% 100% at center bottom);
    position: relative;
}
.partners .part-slide .overlay{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: transparent linear-gradient(102deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(102deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
    opacity: 0.85;
}
.partners .part-slide .straction{
    bottom: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
}
.partners .part-slide .straction img{
    width: 100%;
}
.partners .part-slide .row{
    z-index: 20;
    position: absolute;
    margin-top: 10%;
    width: 85%;
}
.part-slide .span3 {
    padding-top: 18px;
    padding-bottom: 23px;
    padding-right: 7px;
    padding-left: 7px;
    margin: 5px;
    background-color: #fff;
    border-radius: 50%;
    
}
.part-slide .span3 img{
    width: 55px;
    height: 52px;
    padding: 9px;
}
.part-slide .span2{
    padding-top: 33px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 5px;
    width: 141px;
    height: 141px;
    border: 1px dashed #fff; 
    border-radius: 50%;
}
.part-slide .span1{
    padding-top: 51px;
    padding-bottom: 55px;
    padding-right: 12px;
    padding-left: 12px;
    width: 170px;
    height: 170px;
    border: 1px dashed #fff; 
    border-radius: 50%;
}
.part-slide .numbrs{
  margin-top: 27%;
}
/* end partners */

/* start credits */
.credits{
    margin-top: 20px;
}
.credits h3{
    color: #15AC8B;
    font-size: 25px;
    padding-top: 50px;
    margin-bottom: 35px;
  }
  .credits p {
    color: #BBBBBB;
    width: 55%;
   line-height: 2;
    display: inline-block;
  }
/* end credits */

/* start arr-footer */
.arr-footer{
    clip-path: ellipse(95% 100% at center bottom);
    background-color: #F7F9FB;
    padding-bottom: 20px;
    position: relative;
    height: 400px;
}

.icon-footer{
    cursor: pointer;
    width: 70px;
    height: 70px;
     margin-left: 46%;
     padding: 15px;
     border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    background-color: #15AC8B;
    color: #fff;
    font-size: 22px;
}
.icon-footer:hover{
    background-color: #0a775f;;
}
.arr-footer .input-group .btn{
    border-radius: 28px;
    background-color: #15AC8B;
    color: #fff;
}
.arr-footer .line {
    border-bottom: 2px dashed #2F2E96;
    width: 27px;
    margin-bottom: 25px;
    margin-top: 16px;
}
.arr-footer h5{
  font-size: 15px;
  color: #2F2E96;
}
.arr-footer p{
  font-size: 12px;
  color: #707070;
}
.arr-footer .prag{
    line-height: 2.5;
    width: 98%;
}
.arr-footer  .face{
    background-color: #0A775F;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border: 3px solid #0da576;
}
.arr-footer i {
    border-radius: 50%;
}
.arr-footer .icon{
    background-color: #22216D;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border: 3px solid #a7acbb;
}
.arr-footer .social{
    margin-top: 75px;
}
.arr-footer .buttonIn {
  width: 100%;
  height: 55px;
  position: relative;
  border: 1px solid #CECECE;
  border-radius: 28px !important;
  outline: none !important;
  
}

.arr-footer .buttonIn input {
  margin: 0px;
  padding: 0px;
  text-align: center;
  outline: none;
  height: 50px;
  width: 61%;
  margin-right: 44px;
  border: none;
}
.arr-footer .buttonIn ::placeholder {
  color: #CECECE;
  opacity: 1; /* Firefox */
}

.arr-footer .buttonIn button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 28px;
  z-index: 2;
  border: none;
  height: 55px;
  cursor: pointer;
  color: #fff;
  background-color: #15AC8B;
  transform: translateX(2px);
  width: 25%;
}
.arr-footer .buttonIn img{
  right: 0;
  position: absolute;
  right: 17px;
  top: 14px;
  z-index: 2;
}
/* end arr-footer */
footer{
  background: transparent linear-gradient(92deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%, #000000 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(92deg, #22216D 0%, #15AC8B 100%, #000000 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  font-size: 15px;
  display: flex;
  position: relative;
}
footer p {
  margin-top: 2%;
}
/* media query */

/* start bkackList and conditions page style */
.slides .nav2 .dropdown-toggle::after{
  margin-left: 7px !important;
}
.slides .nav2 .dropdown-menu.show{
    border-radius: 19px;
    padding: 13px;
}

.slides .nav2 .my-count::before{
    inset: 0;
    content: '';
    position: absolute;
    width: 4px;
    height: 25px;
    background-color: #15AC8B;
    left: 154px;
    top: 16px;
    border-radius: 22px;
}
.slides .nav2 .dropdown-menu li a:hover {
    background-color: #fff !important; 
    border: none !important;
    outline: none !important;
}

.slides .carousel-indicators{
  bottom: 5%;
}
.slides  .overlay{
    background: transparent linear-gradient(114deg, #22216D 0%, #15AC8B33 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.slides{
  width: 100%;
  
  position: relative;
  margin-bottom: 50px;
  clip-path: ellipse(118% 100% at center top);
}
.slides .carousel-control-next,  .carousel-control-prev{
  z-index: 5;
}
.slides .main-slide{
  top: 232px;
  left: 363px;
  height: 289px;
  z-index: 3;
  position: sticky;
  margin-bottom: 10%;
  padding-top: 15px;
}
@media only screen and (max-width: 1140px) {
  .slides .main-slide{
    margin-bottom: 5%;
  }
  .slides .main-slide .h2{
    font-size: 25px;
}
.slides .main-slide p {
  font-size: 15px;
}
}
@media only screen and (max-width: 1045px) {
  .slides .main-slide{
    margin-bottom: 3%;
  }
}
@media only screen and (max-width: 1013px) {
  .slides .main-slide{
    margin-bottom: 1%;
  }
}
@media only screen and (max-width: 955px) {
  .slides .main-slide{
    margin-bottom: -5%;
  }
}
@media only screen and (max-width: 887px) {
  .slides .main-slide{
    margin-bottom: -10%;
  }
}
@media only screen and (max-width: 845px) {
  .slides .main-slide{
    margin-bottom: -15%;
  }
}
.slides .main-bottom{
    bottom: 15px;
    color: #fff;
    z-index: 20;
    position: sticky;
}
.slides .main-slide .h2{
  font-size: 30px;
  font-family:droidRegular ;
  margin-bottom: 30px;
}
.slides .main-slide p {
  font-size: 18px;
  line-height: 2;
  font-family: droidRegular;
}
.slides .main-slide .register{
  width: 170px;
  height: 45px;
  border: 1px solid #6D6D6D;
  border-radius: 23px;
  background-color: #fff;
  color: #6D6D6D;
  font-size: 15px;
}
.slides .mask-top{
  position: absolute;
  z-index: 10;
  top: 0px;
left: 0px;
width: 100%;
height: 218px;
background-image: url('../images/Mask\ Group\ 2.png') ;
background-repeat: no-repeat;
background-size: cover;
}
.slides .nav-list{
  z-index: 5;
}
.slides .nav-list .list-inline-item{
  margin-top: 10px;
    padding-right: 3px;
}
.slides .nav-list .en{
  color:  #081D4D;
  font-size: 10px;
  font: normal normal bold 10px/2px Droid Arabic Kufi;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.nav-list .nav-right{
  margin-top: 10px;
  text-align: right;
}
.nav-list .nav-right span{
  font-size: 13px;
  color: #fff;
}
.nav1 .col-9 li {
  color: #fff;
}
.nav1 .col-9 .list-inline-item{
  margin-right: 20px;
}
.mask-top hr{
  width: 100%;
  color: #fff;
  margin-top: 5px;
  height: 2px;
}
/* .subtraction{
  background-image: url('../images/Subtraction\ 11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 627px;
left: 0px;
width: 100%;
height: 71px;
z-index: 5;
} */
.carousel{
  height: 100%;
}
.carousel-indicators button{
  width: 18px;
height: 18px;
background-color: #fff;
border-radius: 50%;
z-index: 7;
width: 18px !important;
    height: 18px !important;
}
/* .slides .carousel-indicators .active{
  background-color: #15AC8B;
} */
.carousel-indicators .gren{
  background-color: #15AC8B;
  margin: -7px 10px 0 10px;
}
.nav2 li{
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  z-index: 10;
}
.nav2 .main {
  border-bottom: 4px solid #FFFFFF;
    width: 18px;
    border-radius: 4px;
    margin-left: 18px;
    margin-top: 4px;
}
.nav2 .col-9 li{
  margin-left: 40px;
  font-size: 15px;
  cursor: pointer;
  color: #ddd;
}
/* end slides */

/* end bkackList page style */

/* start blog page style */
.blog-main p{
  text-align: justify;
}
.slides .nav2 .dropdown-toggle::after{
  margin-left: 7px !important;
}
.slides .nav2 .dropdown-menu.show{
    border-radius: 19px;
    padding: 13px;
}
.slides .nav2 .my-count::before{
    inset: 0;
    content: '';
    position: absolute;
    width: 4px;
    height: 25px;
    background-color: #15AC8B;
    left: 154px;
    top: 16px;
    border-radius: 22px;
}
.slides .nav2 .dropdown-menu li a:hover {
    background-color: #fff !important; 
    border: none !important;
    outline: none !important;
}
.slides .carousel-indicators{
  bottom: 5%;
}
.slides  .overlay{
    background: transparent linear-gradient(114deg, #22216D 0%, #15AC8B33 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
.slides{
  width: 100%;
  /* height: 697px; */
  position: relative;
  margin-bottom: 50px;
  clip-path: ellipse(118% 100% at center top);
}
.slides .carousel-control-next,  .carousel-control-prev{
  z-index: 5;
}
.slides .main-slide{
  /* position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  top: 232px;
  left: 363px;
  
  height: 289px;
  z-index: 3;
  position: sticky;
  margin-bottom: 10%;
}
.slides .main-slide .h2{
  font-size: 30px;
  font-family:droidRegular ;
}
.slides .main-slide p {
  font-size: 18px;
  line-height: 2;
  font-family: droidRegular;
}
.slides .main-slide .register{
  width: 170px;
  height: 45px;
  border: 1px solid #6D6D6D;
  border-radius: 23px;
  background-color: #fff;
  color: #6D6D6D;
  font-size: 15px;
}
.slides .mask-top{
  position: absolute;
  z-index: 10;
  top: 0px;
left: 0px;
width: 100%;
height: 218px;
background-image: url('../images/Mask\ Group\ 2.png') ;
background-repeat: no-repeat;
background-size: cover;
}
.slides .nav-list{
  z-index: 5;
}
.slides .nav-list .list-inline-item{
  margin-top: 10px;
    padding-right: 3px;
}
.slides .nav-list .en{
  color:  #081D4D;
  font-size: 10px;
  font: normal normal bold 10px/2px Droid Arabic Kufi;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 10px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}
.nav-list .nav-right{
  margin-top: 10px;
  text-align: right;
}
.nav-list .nav-right span{
  font-size: 13px;
  color: #fff;
}
.nav1 .col-9 li {
  color: #fff;
}
.nav1 .col-9 .list-inline-item{
  margin-right: 20px;
}
.mask-top hr{
  width: 100%;
  color: #fff;
  margin-top: 5px;
  height: 2px;
}
/* .subtraction{
  background-image: url('../images/Subtraction\ 11.svg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 627px;
left: 0px;
width: 100%;
height: 71px;
z-index: 5;
} */
.carousel{
  height: 100%;
}
.carousel-indicators button{
  width: 18px;
height: 18px;
background-color: #fff;
border-radius: 50%;
z-index: 7;
width: 18px !important;
    height: 18px !important;
}
/* .slides .carousel-indicators .active{
  background-color: #15AC8B;
} */
.carousel-indicators .gren{
  background-color: #15AC8B;
  margin: -7px 10px 0 10px;
}
.nav2 li{
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  z-index: 10;
}
.nav2 .main {
  border-bottom: 4px solid #FFFFFF;
    width: 18px;
    border-radius: 4px;
    margin-left: 18px;
    margin-top: 4px;
}
.nav2 .col-9 li{
  margin-left: 40px;
  font-size: 15px;
  cursor: pointer;
  color: #ddd;
}
/* end slides */

/* start blog-main */
.blog-main .search label{
color: #6D6D6D; font-size: 20px;
}
.blog-main .par-search{
position: relative;
height: 38px;
border: 1px solid #E5E5E5;
border-radius: 5px;
}
.blog-main .par-search input{
height: 35px;
outline: none;
border: none;
}
.blog-main .par-search i{
position: absolute;
left: 28px;
top: 10px;
color: #b5aaaa;
}
.blog-main .borderh3{
padding: 10px;
position: relative;
margin-bottom: 30px;
}
.blog-main .borderh3::before{
content: '';
inset: 0;
position: absolute;
border-radius: 20px;
width: 7px;
height: 50px;
background-color: #15AC8B;
}
.blog-main h3{
color: #15AC8B;
font-size: 20px;
font-weight: bold;
margin-right: 20px;
}
.blog-main .articles .section p{
color: #8A8A8A;
font-size: 12px;
}
.blog-main .articles .section{
border: 1px solid #E6E6E6;
border-radius: 20px;
padding: 12px;
margin-bottom: 22px;
}
.blog-main .articles .section .btn{
font-size: 12px;
color: #2F2E96;
}
.blog-main .words .row span{
color: #2F2E96;
font-size: 15px;
}
.blog-main .words .row span:hover {
border: 1px solid #15AC8B;
color: #15AC8B;
border-radius: 10px;
padding: 10px;
cursor: pointer;
}
.blog-main .overlay-adv{
position: relative;
background-image: url(../images/image-3.png);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
width: 100%;
height: 400px;
border-radius: 5px;

}
.blog-main .overlay-adv .overlay{
position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: transparent linear-gradient(
  138deg, #22216D 0%, #15AC8B80 100%) 0% 0% no-repeat padding-box;
  opacity: 0.77;
  z-index: 1;
}
.blog-main .overlay-adv .txtOverlay{
z-index: 5;
  color: #fff;
  position: sticky;
  font-size: 15px;
  justify-content: center;
}
.blog-main .prag2 {
margin-right: 15px;
}
.blog-main .prag2 span i {
transform: rotate(267deg);
color: #15AC8B;
font-size: 10px;
}
.blog-main .prag2 p {
color: #6D6D6D;
font-size: 15px;
line-height: 2.4;
}
.blog-main .prag2::before {
content: '';
inset: 0;
background-color: #15AC8B;

width: 7px;
border-radius: 15px;
position: absolute;
}
.blog-main .prag2 .writer{
position: relative;
}
.blog-main .prag2 .writer p::before{
content: '';
inset: 0;
position: absolute;
background-color: #15AC8B;
height: 1px;
width: 50px;
border-radius: 10px;
top: 20px;
}
.blog-main .prag3 h4{
color: #232323;
font-size: 20px;
font-weight: bold;
margin-bottom: 20px;
}
.blog-main .prag3 p{
line-height: 2.4;
font-size: 15px;
color: #6D6D6D;
}
.blog-main .styleList p{
font-size: 15px;
color: #6D6D6D;
margin-right: 15px;
line-height: 2;
}
.blog-main .styleList p::before{
position: absolute;
content: '';
inset: 0;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: #15AC8B;
top: 8px;
}
.blog-main p{
font-size: 15px;
color: #6D6D6D;
line-height: 2.4;
}
.blog-main .form input {
outline: none;
border: none;
}
.blog-main .form textarea{
outline: none;
border: none;
resize: none;
}
.blog-main .form .btn{
color: #FCFCFC;
background-color: #15AC8B;
font-size: 15px;
border-radius: 5px;
padding: 10px 40px;
}
/* end blog-main */
@media only screen and (max-width: 992px){
.slides .main-slide{
  display: contents;
}
.slides .main-slide .h2{
  font-size: 20px;
  }
}
/* end blog page style */


/* start commQuestions page style */
/* start comm-quest */
.comm-quest #btnn{
  background-color: #F7F9FB;
  color: #6D6D6D;
  border: none;
}
.comm-quest .btnn{
  background-color: #F7F9FB;
  color: #6D6D6D;
  border: none;
}
.form input {
padding: 10px;
}
.form ::placeholder {
color: #C2C2C2;
}
.form :-ms-input-placeholder { 
color: #C2C2C2
}
.form ::-ms-input-placeholder { 
color: #C2C2C2;
}
.form .send{
  width: 100%;
  font-size: 15px;
  color: #fff;
  background-color: #15AC8B;
}
.removeBG {
  background-color: #22216D !important;
  color: #fff !important;
}
/* end comm-quest */
/* end commQuestions page style */


/* start cources2 page style */
/* start cources2 */
.cources2 .section1{
  position: relative;
}
.cources2 .section1 .heart-icon {
  background-color: #E5E5E5;
  padding:1px 10px;
  border-radius: 50%;
}
.cources2 .section1 .heart-icon i{
  color: #6D6D6D;
  font-size: 12px;
}
.cources2 .section1 h3{
  font-size: 20px;
  color: #15AC8B;
  font-weight: bold;
  margin-right: 20px;
}
.cources2 .section1 h3::before{
  position: absolute;
  content: '';
  inset: 0;
  height: 38px;
  width: 6px;
  top: -3px;
  left: 732px;
  border-radius: 10px;
  background-color: #15AC8B;
}
.cources2 .section1 p{
  color: #B1B1B1;
  font-size: 15px;
  line-height: 2.2;
}
.cources2 .sectionn2{
  padding: 20px;
  background-color: #F8F8F8;
  border-radius: 59px;
}
.cources2 .section2 .all{
  color: #15AC8B;
  font-size: 15px;
  font-weight: bold;
}
.cources2 .section2 .khald{
  font-size: 15px;
  color: #15AC8B;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
.cources2 .section2 small{
  color: #B1B1B1;
  font-size: 12px;
}
.cources2 .section3 .comment{
  background-color: #F7F9FB;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
}
.cources2 .section3 .comment .row1 span{
  font-size: 15px;
  color: #232323;
  
}
.cources2 .section3 .comment .row1 .rate{
  color: #FFCE0A;
  font-size: 10px;
}
.cources2 .section3 .comment .row1 .ibra small{
  color: #B1B1B1;
  font-size: 12px;
}
.cources2 .section3 .comment .row1 .ibra span{
  color: #2F2E96;
  font-size: 15px;
  font-weight: bold;
}
.cources2 .section3 .comment .row2 p{
  color: #B1B1B1;
  font-size: 13px;
  line-height: 1.9;
}
.cources2 .section3 .comment .row2 span{
  background-color: #2F2E96;
  color: #fff;
  border-radius: 50%;
  font-size: 15px;
  padding: 13px 20px ;

}
.cources2 .section3 .firstRow button{
  background-color: #15AC8B;
  color: #fff;
  font-size: 15px;
  border-radius: 23px;
 padding: 10px 30px;
}
.cources2 .section3 .firstRow h6{
  color: #2F2E96;
  font-size: 15px;
  font-weight: bold;
}
.cources2 .section3 .nav a{
  font-size: 15px;
  
}
.cources2 .section3 .nav li{
  cursor: pointer;
}
.cources2 .section3 .nav{
  background-color: #2F2E96;
  border-radius: 28px;
  padding: 6px;
}
.cources2 .section3 .nav-tabs .nav-link.active{
  color: #15AC8B;
  background-color: #2F2E96;
  font-weight: bold;
}
.cources2 .section3 .nav-tabs .nav-link{
  color: #fff;
  margin-bottom: 0;
  border: none;
}
.cources2 .section3 #profile h5{
  font-size: 15px;
  color: #2F2E96;
  font-weight: bold;
  margin-bottom: 30px;
}
.cources2 .section3 #profile .details{
  border-radius: 30px;
  background-color: #E6E6E6;
  padding: 8px;
  position: relative;
  border: 1px solid #d7d7d7;
  margin-top: 30px;
}
.cources2 .section3 #profile .details .col-10 h6{
  font-size: 15px;
  color: #2F2E96 ;
  margin-right: 14%;
  font-weight: 700;
  /* width: 90%;
  text-align: center; */
}
.cources2 .section3 #profile .details .col-10 img{
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
.cources2 .section3 #contact .overview h5{
  font-size: 15px;
  font-weight: bold;
  color: #2F2E96;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cources2 .section3 #contact .overview h6{
  font-size: 15px;
  color: #15AC8B;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}
.cources2 .section3 #contact .overview p{
  color: #6D6D6D;
  font-size: 15px;
}
.cources2 .right .section {
  border-bottom: 1px solid #ddd;
  margin-top: 45px;
}
.cources2 .right .section span{
  color: #2F2E96;
  font-size: 15px;
}
.cources2 .right .section i{
  color: #15AC8B;
  font-size: 14px;
}
.cources2 .right .section9 .buy{
  margin-top: 30px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}
/* end cources2 */
.rate-overlay{
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  background-color: #6d6d6d75;
  
  height: 100vh;
   z-index: 50;   
}
.show-overlay{
  display: flex !important;
}
.rate-overlay .rating{
  /* position: absolute; */
  width: 50%;
  height: 415px;
  background-color: #fff;
  border-radius: 22px;
  margin: auto;
  z-index: 100;
  margin-top: 8%;
}
.rating .border-rate h4{
  font-size: 20px;
  color: #15AC8B;
  
  margin-right: 13px;
}
.rating .border-rate{
  position: relative;
  margin-bottom: 9px;
}
.rating .border-rate h4::before {
  content: '';
  position: absolute;
  inset: 0;
  width: 5px;
  height: 35px;
  background-color: #15AC8B;
  border-radius: 20px;
  top: -4px;
}
.rating .close {
  color: #FF0000;
  margin-bottom: 20px;
  margin-top: 5px;
}
.rating .stars{
  margin-top: 15px;
  margin-bottom: 15px;
}
.rating .stars i{
  color: #FFCE0A;
  margin-right:7px;
}
.rating .stars span {
  color: #232323;
  font-size: 30px;
}
.rating textarea{
  resize: none;
  display: inline-block;
}
.rating .send{
  font-size: 15px;
  background-color: #0049A0;
  padding: 7px 50px;
  border-radius: 10px;
  border: none;
}
/* end cources2 page style */


/* start cources page style */
/* start courses */
.parentCourse .topList{
  color: #6D6D6D;
  font-size: 15px;
}
.parentCourse .search{
    background-color: #FCFCFC;
    position: relative;
    width: 100%;
height: 45px;
position: relative;
}
.parentCourse .search input{
  margin: 0px;
  padding: 0px;
  outline: none !important;
  height: 43px;
  width: 90%;
  border: 1px solid #FCFCFC;
}
.parentCourse .search input:active , .parentCourse .search input:focus{
    outline: none !important;
    border: 1px solid #FCFCFC !important;
}

.parentCourse .search ::placeholder {
  color: #6D6D6D;
  opacity: 1; 
}
.parentCourse .search i{
  position: absolute;
  top: 12px;
  left: 15px;
  font-weight: 600;
  cursor: pointer;
  color: #bfbcbc;
}
.parentCourse .new{
    width: 150px; 
    height: 45px;
    position: relative;
    color: #6D6D6D;
    background-color: #FCFCFC;
}
.parentCourse .new i{
    display: list-item;
    position: absolute;
    padding-top: 4px;
}
.parentCourse .new span{
    height: 40px;
    right: 0;
    display: list-item;
}
.parentCourse .swiper {
  width: 100%;
  height: 100%;
}
.parentCourse .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .parentCourse .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.parentCourse .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.parentCourse .swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
.parentCourse .cards .cardTop{
  background-image: url(../images/card-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height:56%;
  width: 100%;
  border-radius: 13px;
  position: relative;
  padding-bottom: 12%;
}
.parentCourse .cards .cardTop .overlay{
  background-color: #000;
  opacity: .5;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 13px;
}
.parentCourse .cards .cardTop .cont-body{
  z-index: 5;
  position: absolute;
}
.cont-body span{
  color: #fff;
  text-align: right;
}
.cont-body i {
  background: #fff;
    border-radius: 50%;
    padding: 4px;
}
.parentCourse .cards .cardTop p {
  font-size: 12px;
    color: #fff;
    line-height: 1.9;
    z-index: 5;
    width: 80%;
    margin-left: 11%;
}
.parentCourse .cards .cardTop .btn{
  width: 15%;
  padding: 1px 5px;
    color: #2F2E96;
    background-color: #fff;
    text-align: right;
    margin-left: 72%;
    padding: 4px;
    font-size: 11px;
    z-index: 5;
}
.card-bod{
  background-color: #F7F9FB;
    margin-top: -6%;
    border-radius: 26px;
    width: 94%;
    margin-left: 8px;
    z-index: 5;
    position: sticky;
}
.card-bod span{
  color: #2F2E96;
  font-size: 8px;

}
.card-foot{
  background-color: #fff;
  margin-top: -16px;
}
.card-foot p , .card-foot span{
  font-size: 12px;
  display: inline;
}
.departments h3{
    color: #22216D;
    font-size: 13px;
    font-weight: bold;
}
.departments .coursDep{
    color: #6D6D6D;
    font-size: 13px;
}
.departments .coursDep .border_head{
    margin-bottom: 30px;
    /* border-right: 1px solid #15AC8B; */
}
.departments .btn{
    background-color: #22216D;
    font-size: 15px;
    color: #fff;
    text-align: center;
   width: 100%;
   margin-top: 30px;
   margin-bottom: 20px;
}
.addCourse .btn{
    
    color: #2F2E96;
    background-color: #FCFCFC;
    font-size: 9px;
}
.adv {
    background-image: url(../images/addCourse.png);
    background-repeat: no-repeat;
    background-size:cover;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
    display: flex;
}
.adv .overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  background: transparent linear-gradient(138deg, #22216D 0%, #15AC8B80 100%) 0% 0% no-repeat padding-box;
  opacity: 0.77;
  z-index: 1;
 
}
.adv img{
    position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
}
.adv .txtAdv{
    z-index: 5;
    color: #fff;
    position: sticky;
    font-size: 15px;
    margin: auto;
}
/* end courses */
/* end cources page style */


/* start forgetPass page style */
/* start register */
.register .enter{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
}
.register .btn{
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.register .new{
    color: #CECECE;
    border: 1px solid #CECECE;
}
.register .buttonIn{
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}
.register .left span {
      position: absolute;
      right: 0;
      background: #E5E5E5 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 12px;
      height: 45px;
}
.register .left input{
    position: absolute;
    left: 4px;
    border: none;
    outline: none;
    width: 92%;
    height: 40px;
}
.register .left p{
    font-size: 15px;
    color: #0049A0;
}
.register .left .email span{
    padding: 0;
}
.register .right span {
  position: absolute;
  right: 0;
  background: #E5E5E5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 12px;
  height: 45px;
}
.register .right input{
position: absolute;
right: 4px;
border: none;
outline: none;
width: 92%;
height: 40px;
}
.register .right p{
font-size: 15px;
color: #0049A0;
text-align: end;
}
.register .right .email span{
padding: 0;
}
.register form{
  text-align: center;
  display: inline-flex;
}

.register .regis-btn{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.register .border-form{
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 5%;
  border: 1px solid #E6E6E6;
  border-radius: 30px;
  /* display: inline-flex; */
}
/* end register */
/* end forgetPass page style */


/* start jobName page style */
/* start name-job */
.name-job  .borderh2{
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
}

.name-job .borderh2 h2::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: #15AC8B;
  margin-left: 18px;
  top: 0;
}
.name-job h2{
  font-size: 20px;
  color: #232323;
  font-weight: bold;
}
.name-job  p{
  color: #C2C2C2;
  font-size: 15px;
  line-height: 2;
}
.name-job .secleft .contact ul{
  margin-left: 20%;
}
.name-job .secleft .contact ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}
.name-job .secleft .contact ul li span{
  font-size: 15px;
  color: #6D6D6D;
}
.name-job .secright .div1 {
  margin-bottom: 25px;
  color: #232323;
  font-size: 15px;
}
.name-job .secright .div2{
  margin-bottom: 25px;
  margin-top: 25px;
}
.name-job .secright .div2 span i {
  color: #15AC8B;
  margin-right: 30px;
  margin-left: 10px;
}
.name-job .secright .div2 span {
  font-size: 15px;
  color: #C2C2C2;
}
.name-job .secright .div3{
  margin-bottom: 70px;
  margin-top: 40px;
}
.name-job .secright .div4{
  margin-bottom: 10px;
}
.name-job .secright .div5 span{
  width: 15px;
  height: 15px;
  background-color: #15AC8B;
  border-radius: 50%;
  display: inline-block;
  margin-left: 20px;
}
.name-job .secright .div6{
  margin-top: 70px;
  margin-bottom: 70px;
}
.name-job .secright .div6 h4{
  font-size: 15px;
  font-weight: bold;
  color: #232323;
  margin-bottom: 20px;
}
/* end name-job */
/* end jobName page style */


/* start mainBlog page style */
/* start main-blog */
.main-blog .card-body{
  background-color: #f5f9fc;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
}
.main-blog .card-body li span{
  color: #0049A0; 
  font-size: 10px; 
  font-weight: bold;
}
.main-blog .card-p{
  font-size: 12px; 
  color: #0049A0; 
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 30px;
}
.main-blog .card-btn button{
  background-color: #22216D;
  font-size: 15px;
  color: #fff;
  border-radius: 30px;
  padding: 8px 50px;
  margin-bottom: 50px;
}
/* end main-blog */
/* start swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.main-blog .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .main-blog .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper-pagination {
  /* position: absolute; */
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  padding-top: 30px !important;
}
.main-blog .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #fff;
  border-radius: 0;
}

.main-blog .swiper-pagination-bullet-active {
  color:#15AC8B;
  border-bottom:1px solid #15AC8B;
  font-size: 15px;
  font-weight: bold;
}
/* end swiper */
/* end mainBlog page style */


/* start mainConnect page style */
/* start connect-us */
.connect-us .contRow{
  background-color: #FCFCFC;
  border-radius: 29px;
  padding: 40px;
  z-index: 50;
  position: relative;
  top: -150px;
}
.connect-us .mid-sec::before{
  content: '';
  position: absolute;
  inset: 0;
  border-left: 2px solid #e9e9e9;
  border-right: 2px solid #e9e9e9;
  top: 25px;
}
.connect-us .section h5{
  font-size: 20px;
  font-weight: bold;
  color: #2F2E96;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* end connect-us */

/* start map */
.map{
  width: 100%;
}
/* end map */

/* start form-connect */
.form-connect {
  margin-bottom: 80px;
}
.form-connect form input{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E9E9E9;
}
.form-connect form ::placeholder{
  color: #D9D9D9;
  font-size: 15px;
}
.form-connect form textarea{
  resize: none;
  border-radius: 10px;
}
.form-connect form button{
  background-color: #15AC8B;
  color: #fff;
  padding: 8px 50px;
  font-size: 15px;
  border-radius: 10px;
}
/* end form-connect */
/* end mainConnect page style */


/* start mainJob page style */
/* start main-job */

.main-job .section:hover h5 {
  color: #15AC8B;
}
.main-job .section:hover .btn{
  background-color: #15AC8B;
}
.main-job .section h5{
  font-size: 15px;
  font-weight: bold;
  color: #232323;
}
.main-job .section span{
  font-size: 15px;
  color: #C2C2C2;
}
.main-job .section .btn {
  font-size: 15px;
  background-color: #6D6D6D;
  color: #fff;
  border-radius: 25px 0px 25px 25px;
  padding: 10px 60px;
}
/* end main-job */
/* end mainJob page style */


/* start mainTrainers page style */
/* start trainers */
.search{
  background-color: #FCFCFC;
  position: relative;
  width: 100%;
height: 45px;
position: relative;
}
.trainers .search input{
margin: 0px;
padding: 0px;
outline: none !important;
height: 43px;
width: 90%;
border: 1px solid #FCFCFC;
}
.trainers .search input:active , .trainers .search input:focus{
  outline: none !important;
  border: 1px solid #FCFCFC !important;
}

.trainers .search ::placeholder {
color: #6D6D6D;
opacity: 1; 
}
.trainers .search i{
position: absolute;
top: 12px;
left: 15px;
font-weight: 600;
cursor: pointer;
color: #bfbcbc;
}
.trainers .section{
  background-color: #F7F9FB;
}
.trainers .section h5{
  color: #081D4D;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 10px;
}
.trainers .section{
  color: #707070;
  font-size: 12px;
  padding: 30px;
  border-radius: 24px;
}
.trainers .section:hover{
  border: 2px solid #15AC8B;
}
.trainers .section:hover h5{
  color: #15AC8B;
}
/* end trainers */

/* start swiper */
.swiper {
  width: 100%;
  height: 100%;
}
.trainers .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* .trainers .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.swiper-pagination {
  /* position: absolute; */
  text-align: center;
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  z-index: 10;
  padding-top: 30px !important;
}
.trainers .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: #fff;
  border-radius: 0;
}

.trainers .swiper-pagination-bullet-active {
  color:#15AC8B;
  border-bottom:1px solid #15AC8B;
  font-size: 15px;
  font-weight: bold;
}
/* end swiper */
/* end mainTrainers page style */


/* start newPass page style */
 /* start newPass */
 .newPass .enter{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
}
.newPass .btn{
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.newPass .new{
    color: #CECECE;
    border: 1px solid #CECECE;
}
.newPass .buttonIn{
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}
.newPass .left span {
      position: absolute;
      right: 0;
      background: #E5E5E5 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 12px;
      height: 45px;
}
.newPass .left input{
    position: absolute;
    left: 4px;
    border: none;
    outline: none;
    width: 92%;
    height: 40px;
}
.newPass .left p{
    font-size: 15px;
    color: #0049A0;
}
.newPass .left .email span{
    padding: 12px;
}
.newPass .right span {
  position: absolute;
  right: 0;
  background: #E5E5E5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 12px;
  height: 45px;
}
.newPass .right input{
position: absolute;
right: 4px;
border: none;
outline: none;
width: 92%;
height: 40px;
}
.newPass .right p{
font-size: 15px;
color: #0049A0;
text-align: end;
}
.newPass .right .email span{
padding: 0;
}
.newPass form{
  text-align: center;
  display: inline-flex;
}

.newPass .regis-btn{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.newPass .border-form{
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 50px 30px;
  border: 1px solid #E6E6E6;
border-radius: 30px;
}
/* end newPass */
/* end newPass page style */


/* start payment page style */
/* start payment */
.payment h5{
  font-size: 20px;
  color: #6D6D6D;
  margin-bottom: 25px;
}
.payment .price{
  background-color: #F9F9F9;
  border-radius: 30px;
  padding: 30px;
}
.payment hr {
  border: 1px solid #E4E4E4;
  margin-top: 20px;
  margin-bottom: 20px;
}
.payment h6{
  color: #081D4D;
  font-size: 20px;
  font-weight: bold;
}
.payment .left button{
  font-size: 15px;
  background-color: #15AC8B;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
}
.payment .right input{
  
  border-radius: 10px;
  width: 100%;
  margin-top: 40px;
  padding: 10px;
}
/* end payment */
/* end payment page style */


/* start profile page style */
/* start profile */
.profile .right .section1{
  border-bottom: 1px solid #E9E9E9;
    margin-bottom: 30px;
}
.profile .right .content-profile{
    position: relative;
    display: inline-flex;
}
.profile .right .content-profile label {
    background-color: #000;
    color: #fff;
    padding: 2px 7px;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 2px;
}
.profile .right .content-profile label i{
    font-size: 14px;
}
.profile .right .content-profile .profile-img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #E4E6E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile .right .content-profile .profile-img i{
   font-size: 36px;
    color:#aeb4b7;
}
.profile .right .content-profile input[type="file"] {
    display: none;
}

.profile .right .name h6{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #6D6D6D;
}
.profile .right .name p{
    color: #6D6D6D;
    font-size: 15px;
}
.profile .right .section2 .nav button{
    color:#CECECE;
}

.profile .right .section2 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #15AC8B;
    font-weight: bold;
    border-left: 4px solid #15AC8B;
    background-color: #E4E6E7;
}
.profile .left #v-pills-home h6{
  font-size: 15px;
  color: #2F2E96;
}
.profile .left #v-pills-home p{
  font-size: 15px;
  color: #CECECE;
}
.profile .left #v-pills-home  button{
  background-color: #F5F5F5;
  color: #7D7D7D;
  font-size: 15px;
  border-radius: 5px;
  padding: 7px 35px;
}
/* end profile */

/* start overlay */
.overlay-profile
{
  inset: 0;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #00000080;
  z-index: 50;
  position: fixed;
}
.overlay-profile .change{
  width: 50%;
  margin: auto;
  height: 455px;
  margin-top: 5%;
  background-color: #fff;
  z-index: 100;
  border-radius: 10px;
  padding: 20px;
}
#overlay-pass .change{
  width: 50%;
  margin: auto;
  height: 500px;
  margin-top: 5%;
  background-color: #fff;
  z-index: 100;
  border-radius: 10px;
  padding: 20px;
}
#overlay-pass .change .row3 label{
  margin-top: 10px;
}
#overlay-pass .change .row3{
  margin-top: 0px;
  margin-bottom: 20px;
}
.overlay-profile .change .row1 {
  margin-top: 10px;
}
.overlay-profile .change .row1 h6, .overlay-profile .change .row1 i {
  font-size: 20px;
  color: #232323;
}
.overlay-profile .change .row2 p{
  color: #6D6D6D;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
  line-height: 2.2;
}
.overlay-profile .change .row3 {
  margin-bottom: 50px;
  margin-top: 20px;
}
.overlay-profile .change .row3 label{
  font-size: 15px;
  color: #232323;
  margin-bottom: 15px;
}
.overlay-profile .change .row3 input{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
}
.show-change{
  display: flex !important;
}
.overlay-profile .change .row4 button{
  border-radius: 10px;
  padding: 9px 33px;
  background-color: #2F2E96;
  font-size: 15px;
}
.overlay-profile .change .row3 ::placeholder{
  font-size: 15px;
  color: #DBDBDB;
}
#overlay-pass .change .showPass{
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  padding: 10px;
}
#overlay-pass .change .showPass .col-11 input {
  border: none !important;
  outline: none !important;
}
#overlay-pass .change .showPass .col-11 input:focus {
  border: none !important;
  outline: none !important;
}

/* end overlay */
/* end profile page style */


/* end profile page style */
/* start register-main */
.register-main .new{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
}
.register-main .btn{
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.register-main .enter{
    color: #CECECE;
    border: 1px solid #CECECE;
}
.register-main .buttonIn{
    position: relative;
    width: 100%;
    height: 45px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
}
.register-main .left span {
      position: absolute;
      right: 0;
      background: #E5E5E5 0% 0% no-repeat padding-box;
      border-radius: 10px;
      padding: 12px;
      height: 45px;
}
.register-main .left input{
    position: absolute;
    left: 4px;
    border: none;
    outline: none;
    width: 92%;
    height: 40px;
}
.register-main .left p{
    font-size: 15px;
    color: #0049A0;
}
.register-main .left .email span{
    padding: 0;
}
.register-main .right span {
  position: absolute;
  right: 0;
  background: #E5E5E5 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 12px;
  height: 45px;
}
.register-main .right input{
position: absolute;
right: 4px;
border: none;
outline: none;
width: 92%;
height: 40px;
}
.register-main .right p{
font-size: 15px;
color: #0049A0;
text-align: end;
}
.register-main .right .email span{
padding: 0;
}
.register-main form{
  width: 25%;
  text-align: center;
  display: inline-flex;
}

.register-main .regis-btn{
  background: transparent linear-gradient(105deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(105deg, #22216D 0%, #15AC8B 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  border-radius: 23px;
  font-size: 15px;
  padding: 10px 40px;
}
.register-main .border-form{
  margin-top: 40px;
  margin-bottom: 80px;
  padding: 50px 30px;
  border: 1px solid #E6E6E6;
border-radius: 30px;
}
/* end register-main */













