@font-face {
    font-family: droidBold;
    src: url(../fonts/Droid.Arabic.Kufi_.Bold_DownloadSoftware.iR_.ttf);
  }
  @font-face {
    font-family: droidRegular;
    src: url(../fonts/DroidKufi-Regular\ \(1\).ttf);
  }
  body{
    font-family: droidRegular;
  
  }
  .slides .carousel-indicators{
    bottom: 5%;
  }
  .slides  .overlay{
      background: transparent linear-gradient(114deg, #22216D 0%, #15AC8B33 100%) 0% 0% no-repeat padding-box;
      opacity: 1;
      position: absolute;
      width: 100%;
      height: 100%;
      top: -7%;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
  }
  .slides{
    width: 100%;
    height: 697px;
    position: relative;
    margin-bottom: 50px;
    clip-path: ellipse(118% 100% at center top);
  }
  .slides .main-bottom{
    bottom: 15px;
    color: #fff;
    z-index: 20;
    position: sticky;
}
  .slides .carousel-control-next,  .carousel-control-prev{
    z-index: 5;
  }
  .slides .main-slide{
    /* position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
    top: 232px;
    left: 363px;
    
    height: 289px;
    z-index: 3;
    position: sticky;
    margin-bottom: 10%;
  }
  .slides .main-slide .h2{
    font-size: 30px;
    font-family:droidRegular ;
    margin-bottom: 30px;
  }
  .slides .main-slide p {
    font-size: 18px;
    line-height: 2;
    font-family: droidRegular;
  }
  .slides .main-slide .register{
    width: 170px;
    height: 45px;
    border: 1px solid #6D6D6D;
    border-radius: 23px;
    background-color: #fff;
    color: #6D6D6D;
    font-size: 15px;
  }
  .slides .mask-top{
    position: absolute;
    z-index: 10;
    top: 0px;
  left: 0px;
  width: 100%;
  height: 218px;
  background-image: url('../images/Mask\ Group\ 2.png') ;
  background-repeat: no-repeat;
  background-size: cover;
  }
  .slides .nav-list{
    z-index: 5;
  }
  .slides .nav-list .list-inline-item{
    margin-top: 10px;
      padding-right: 3px;
  }
  .slides .nav-list .en{
    color:  #081D4D;
    font-size: 10px;
    font: normal normal bold 10px/2px Droid Arabic Kufi;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    padding: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
  .nav-list .nav-right{
    margin-top: 10px;
    text-align: right;
  }
  .nav-list .nav-right span{
    font-size: 13px;
    color: #fff;
  }
  .nav1 .col-9 li {
    color: #fff;
  }
  .nav1 .col-9 .list-inline-item{
    margin-right: 20px;
  }
  .mask-top hr{
    width: 100%;
    color: #fff;
    margin-top: 5px;
    height: 2px;
  }
  /* .subtraction{
    background-image: url('../images/Subtraction\ 11.svg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 627px;
  left: 0px;
  width: 100%;
  height: 71px;
  z-index: 5;
  } */
  .carousel{
    height: 100%;
  }
  .carousel-indicators button{
    width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
  z-index: 7;
  width: 18px !important;
      height: 18px !important;
  }
  /* .slides .carousel-indicators .active{
    background-color: #15AC8B;
  } */
  .carousel-indicators .gren{
    background-color: #15AC8B;
    margin: -7px 10px 0 10px;
  }
  .nav2 li{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    z-index: 10;
  }
  .nav2 .main {
    border-bottom: 4px solid #FFFFFF;
      width: 18px;
      border-radius: 4px;
      margin-left: 18px;
      margin-top: 4px;
  }
  .nav2 .col-9 li{
    margin-left: 40px;
    font-size: 15px;
    cursor: pointer;
    color: #ddd;
  }
  /* end slides */
  /* start arr-footer */
.arr-footer{
    clip-path: ellipse(95% 100% at center bottom);
    background-color: #F7F9FB;
    padding-bottom: 20px;
    position: relative;
    height: 400px;
}

.icon-footer{
    cursor: pointer;
    width: 70px;
    height: 70px;
     margin-left: 46%;
     padding: 15px;
     border-radius: 50%;
    z-index: 5;
    cursor: pointer;
    background-color: #15AC8B;
    color: #fff;
    font-size: 22px;
}
.icon-footer:hover{
    background-color: #0a775f;;
}
.arr-footer .input-group .btn{
    border-radius: 28px;
    background-color: #15AC8B;
    color: #fff;
}
.arr-footer .line {
    border-bottom: 2px dashed #2F2E96;
    width: 27px;
    margin-bottom: 25px;
    margin-top: 16px;
}
.arr-footer h5{
  font-size: 15px;
  color: #2F2E96;
}
.arr-footer p{
  font-size: 12px;
  color: #707070;
}
.arr-footer .prag{
    line-height: 2.5;
    width: 98%;
}
.arr-footer  .face{
    background-color: #0A775F;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;
    border: 3px solid #0da576;
}
.arr-footer i {
    border-radius: 50%;
}
.arr-footer .icon{
    background-color: #22216D;
    border-radius: 50%;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border: 3px solid #a7acbb;
}
.arr-footer .social{
    margin-top: 75px;
}
.arr-footer .buttonIn {
  width: 100%;
  height: 55px;
  position: relative;
  border: 1px solid #CECECE;
  border-radius: 28px !important;
  outline: none !important;
  
}

.arr-footer .buttonIn input {
  margin: 0px;
  padding: 0px;
  text-align: center;
  outline: none;
  height: 50px;
  width: 61%;
  margin-right: 44px;
  border: none;
}
.arr-footer .buttonIn ::placeholder {
  color: #CECECE;
  opacity: 1; /* Firefox */
}

.arr-footer .buttonIn button {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 28px;
  z-index: 2;
  border: none;
  height: 55px;
  cursor: pointer;
  color: #fff;
  background-color: #15AC8B;
  transform: translateX(2px);
  width: 25%;
}
.arr-footer .buttonIn img{
  right: 0;
  position: absolute;
  right: 17px;
  top: 14px;
  z-index: 2;
}
/* end arr-footer */
footer{
  background: transparent linear-gradient(92deg, #22216D 0%, var(--unnamed-color-15ac8b) 100%, #000000 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(92deg, #22216D 0%, #15AC8B 100%, #000000 100%) 0% 0% no-repeat padding-box;
  color: #fff;
  font-size: 15px;
  display: flex;
  position: relative;
}
footer p {
  margin-top: 2%;
}

/* start connect-us */
.connect-us .contRow{
    background-color: #FCFCFC;
    border-radius: 29px;
    padding: 40px;
    z-index: 50;
    position: relative;
    top: -150px;
}
.connect-us .mid-sec::before{
    content: '';
    position: absolute;
    inset: 0;
    border-left: 2px solid #e9e9e9;
    border-right: 2px solid #e9e9e9;
    top: 25px;
}
.connect-us .section h5{
    font-size: 20px;
    font-weight: bold;
    color: #2F2E96;
    margin-top: 25px;
    margin-bottom: 25px;
}
/* end connect-us */

/* start map */
.map{
    width: 100%;
}
/* end map */

/* start form-connect */
.form-connect {
    margin-bottom: 80px;
}
.form-connect form input{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
}
.form-connect form ::placeholder{
    color: #D9D9D9;
    font-size: 15px;
}
.form-connect form textarea{
    resize: none;
    border-radius: 10px;
}
.form-connect form button{
    background-color: #15AC8B;
    color: #fff;
    padding: 8px 50px;
    font-size: 15px;
    border-radius: 10px;
}
/* end form-connect */